@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.static-sidebar {
  position: fixed;
  bottom: 130px;
  width: 44px;
  height: 288px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.left img {
  margin-left: 40px;
  width: 55px;
  height: 55px;
}

.rightBox {
  display: flex;
  margin: 12px;
}

.right {
  padding: 10px;
}

nav {
  position: fixed;
}

.container {
  padding: 8px;
}

nav ul li {
  padding: 5px;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  list-style-type: none;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search {
  float: left;
  font-size: 14px;
  height: 20px;
  width: 35vw;
  line-height: 24px;
  color: #696e79;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin-left: 30px;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}


@media (max-width: 1250px) {
  header {
    height: 122px;
  }

  .left img {
    margin: 0px;
    width: 55px;
    height: 55px;
  }

  nav ul li {
    margin: 0;
    display: flex;
    padding: 0 4px;
    font-size: 10px;
    list-style: none;
  }

  nav ul {
    padding: 10px;
    margin: auto;
  }

  .container {
    padding: 10px;
  }

  nav {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .search {
    padding: 4px 8px 4px;
    margin-left: 0px;
    width: 40vw;
  }

  .rightBox {
    display: flex;
    margin: 6px;
  }

  .right {
    padding: 0px;
    flex-direction: column;
  }
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.space-between {
  justify-content: space-between;
}

.mx-2 {
  margin-left: 12px;
  margin-right: 12px;
}

.flex-wrap {
  flex-wrap: wrap;
}
